*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Aeonik', sans-serif !important;
    background-color: rgb(236, 236, 236) !important;
}

button{
    font-size: 1.2rem !important;
    padding: 8px;
    background-color: #4148FF;
    border: transparent;
    border-radius: 5px !important;
    color: #ffffff;
    width: 8vw;
}

button:hover{
    transition: all ease-in-out 0.3s;
    background-color: #2b30b3;
}

.present{
    width: 100%;
    height: 80vh;
    background-image: url(../img/back1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    width: 20rem;
    margin-top: -3rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(322deg) brightness(102%) contrast(101%);
}

#txt-prp{
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    width: 50%;
    padding-left: 2rem;
}

#txt-001{
    font-size: 2.2rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-top: 2rem;
}

#txt-002{
    font-size: 2.2rem;
    font-weight: 500;
    color: #000000;
    margin-left: 6rem;
    margin-top: 5rem;
}


#txt-003{
    font-size: 2.2rem;
    font-weight: 500;
    color: #000000;
    text-align: center;
    padding-top: 14rem;
}

.cartes-container {
    width: 90%; /* Largeur fixe du conteneur */
    height: 280px;
    overflow-x: scroll; /* Permet le défilement horizontal */
    white-space: nowrap; /* Empêche le retour à la ligne */
    margin-left: 1.5rem;
    margin-top: 20px;
    margin-left: auto;
    margin-right:  auto;
  }
  
  .carte {
    display: inline-block; /* Affiche les cartes en ligne */
    width: 250px; /* Largeur des cartes */
    height: 250px; /* Hauteur des cartes (personnalisable) */
    background-color: #ffffff; /* Couleur de fond des cartes (personnalisable) */
    margin-right: 10px; /* Marge droite entre les cartes (personnalisable) */
    border-radius: 10px;
  }

  .carte:hover{
    transition: all ease-in 0.3s;
    box-shadow: 5px 5px 15px #aaaaaaca;
  }
  
  .text-place{
    text-align: center;
    font-size: 17pt;
    font-weight: 500;
    margin-top: -10px;
  }

.cont-2{
    width: 100%;
    height: 80vh;
    background-image: url(../img/office.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 6em;
}


.container {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
  }
  
  .copyright {
    padding: 2rem 0 0 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-3);
    text-align: center;
    border-top: 1px solid var(--color-3);
  }

  .col-title{
    padding-left: 30px;
  }
  
  .footer-nav {
    padding: 1rem 0;
  }
  
  .footer-nav .col {
    max-width: 300px;
  }
  
  p.site-decription {
    color: var(--color-3);
    font-size: 1rem;
    font-weight: 400;
  }
  
  .social-medias a {
    color: var(--color-2);
    width: 2.5rem;
    height: 2.5em;
    border: 2px solid var(--color-2);
    border-radius: 50%;
  }


  
  .social-medias svg, .social-medias img {
    vertical-align: middle;
    width: 1.3rem;
    height: 1.3rem;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flex-start {
    align-items: flex-start;
  }
  
  .flex-jc-start {
    justify-content: flex-start;
  }
  
  .flex-around {
    justify-content: space-around;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-g-1 {
    gap: 1rem;
  }
  
  .col {
    flex: 1;
  }
  
  .col-list ul li {
    list-style: none;
  }
  
  .col-list ul li a {
    text-decoration: none;
    color: var(--color-3);
    transition: var(--transition);
  }
  
  .col-list ul li a:hover,
  .col-list ul li a:focus {
    color: var(--color);
    text-decoration: underline;
  }
  
  @media screen and (max-width: 1100px) {
    .footer-nav {
      flex-direction: column;
    }
  }
  

  header, body, html{
    width: 100%;
    height: 100%;
  }
  
  header{
    background: url("")no-repeat center center;
    background-size: cover;
  }
  
  .wrapper{
    width: 100%;
    height: 100%;
  }